@model ReceiptModel
@{
    int receiptNumber = model.ReceiptNumber;
}
<h1>
    Recibo
</h1>
<h4>
    Número de Recibo: @receiptNumber
</h4>
<div>
    <a href='javascript:history.go(-1)'>Volver</a>
</div>
<hr />

@* <div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApNumber)
        </dt>
        <p>
            @Html.DisplayFor(model => model.ApNumber)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <p>
            @Html.DisplayFor(model => model.Balance)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.FeeValue)
        </dt>
        <p>
            @Html.DisplayFor(model => model.FeeValue)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.InitialAmount)
        </dt>
        <p>
            @Html.DisplayFor(model => model.InitialAmount)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.MoratoryInterestRate)
        </dt>
        <p>
            @Html.DisplayFor(model => model.MoratoryInterestRate)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTerms)
        </dt>
        <p>
            @Html.DisplayFor(model => model.PaymentTerms)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTermsLeft)
        </dt>
        <p>
            @Html.DisplayFor(model => model.PaymentTermsLeft)
        </p>
        <hr />
    @if(ILoggedUser.LoggedUser.isAdmin){
        <dt>
            @Html.DisplayNameFor(model => model.InsertedAt)
        </dt>
        <p>
            @Html.DisplayFor(model => model.InsertedAt)
        </p>
        <hr />
    }
    </dl>
</div> 
<hr /> *@