@model DB1_Project_WEBPORTAL.Models.PropertyModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Propiedades</h1>
<h4>Información Propiedad</h4>
<div>
    <a href='javascript:history.go(-1)'>Volver</a>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <p>
            @Html.DisplayFor(model => model.Address)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <p>
            @Html.DisplayFor(model => model.Value)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.PropertyNumber)
        </dt>
        <p>
            @Html.DisplayFor(model => model.PropertyNumber)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.AccumulatedM3)
        </dt>
        <p>
            @Html.DisplayFor(model => model.AccumulatedM3)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.AccumulatedLRM3)
        </dt>
        <p>
            @Html.DisplayFor(model => model.AccumulatedLRM3)
        </p>
        <hr />
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Address" />
        <input type="hidden" asp-for="Value" />
        <input type="hidden" asp-for="PropertyNumber" />
        <input type="hidden" asp-for="AccumulatedLRM3" />
        <input type="hidden" asp-for="AccumulatedLRM3" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </form>
    
    

</div>