@model DB1_Project_WEBPORTAL.Models.PropertyModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    List<OwnerModel> owners = ViewData["Owners"] as List<OwnerModel>;
    List<UserModel> users = ViewData["Users"] as List<UserModel>;
    List<CC_onPropertyModel> consumptionCCs = ViewData["ConsumptionCCs"] as List<CC_onPropertyModel>;
    List<CC_onPropertyModel> percentageCCs = ViewData["PercentageCCs"] as List<CC_onPropertyModel>;
    List<CC_onPropertyModel> moratoryIntsCCs = ViewData["MoratoryIntsCCs"] as List<CC_onPropertyModel>;
    List<CC_onPropertyModel> fixedCCs = ViewData["FixedCCs"] as List<CC_onPropertyModel>;
    
}

<h1>Propiedades</h1>
<h4>Información Propiedad</h4>
<div>
    <a href='javascript:history.go(-1)'>Volver</a>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <p>
            @Html.DisplayFor(model => model.Address)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <p>
            @Html.DisplayFor(model => model.Value)
        </p>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.PropertyNumber)
        </dt>
        <p>
            @Html.DisplayFor(model => model.PropertyNumber)
        </p>
        <hr />
        
    </dl>
    
</div> 

<h3>Propietarios</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => owners[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => owners[0].DocType)
        </th>
        <th>
            @Html.DisplayNameFor(model => owners[0].DocValue)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var owner in owners)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => owner.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => owner.DocType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => owner.DocValue)
            </td>
                <td>
                    @Html.ActionLink(
                   "Ver",
                   "Details", 
                   "Owner", 
                   new {pDocValue = owner.DocValue, pDocType = owner.DocType},
                   new {@class= "btn btn-warning"})
                </td>
        </tr>
    }
    </tbody>
</table>

<h3>Usuarios</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => users[0].Name)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var user in users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <td>
                @Html.ActionLink(
                    "Ver",
                    "Details", 
                    "User", 
                    new {pUsername = user.Name},
                    new {@class= "btn btn-warning"})
            </td>
        </tr>
    }
    </tbody>
</table>
@*
<h3>Conceptos de Cobro Fijos</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => fixedCCs[0].ChargeConceptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => fixedCCs[0].BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => fixedCCs[0].EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => fixedCCs[0].ExpirationDays)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => fixedCCs[0].MoratoryInterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => ((FixedCC_onPropertyModel)fixedCCs[0]).Amount)
        </th>
        
    </tr>
    </thead>
    <tbody>
    @foreach(var fixedCC in fixedCCs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => fixedCC.ChargeConceptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fixedCC.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fixedCC.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fixedCC.ExpirationDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fixedCC.MoratoryInterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ((FixedCC_onPropertyModel)fixedCC).Amount)
            </td>
            
            
            <td>
                <a asp-action="Details" asp-route-pDocValue="@owner.DocValue" asp-route-pDocType="@owner.DocType">
                    <input type="submit" value="Ver" class="btn btn-warning"/>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h3>Conceptos de por Cobro Porcentaje</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => percentageCCs[0].ChargeConceptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => percentageCCs[0].BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => percentageCCs[0].EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => percentageCCs[0].ExpirationDays)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => percentageCCs[0].MoratoryInterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => ((PercentageCC_onPropertyModel)percentageCCs[0]).PercentageValue)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var percentageCC in percentageCCs)
    {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => percentageCC.ChargeConceptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => percentageCC.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => percentageCC.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => percentageCC.ExpirationDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => percentageCC.MoratoryInterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ((PercentageCC_onPropertyModel)percentageCC).PercentageValue)
                </td>
                
                
                <td>
                    <a asp-action="Details" asp-route-pDocValue="@owner.DocValue" asp-route-pDocType="@owner.DocType">
                        <input type="submit" value="Ver" class="btn btn-warning"/>
                    </a>
                </td>
        </tr>
    }
    </tbody>
</table>

<h3>Conceptos de Cobro por Interés Moratorio</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => moratoryIntsCCs[0].ChargeConceptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => moratoryIntsCCs[0].BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => moratoryIntsCCs[0].EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => moratoryIntsCCs[0].ExpirationDays)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => moratoryIntsCCs[0].MoratoryInterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => ((MoratoryInterestCC_onProperty)moratoryIntsCCs[0]).InterestValue)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var moratoryIntstCC in moratoryIntsCCs)
    {
        <tr>
             <td>
                 @Html.DisplayFor(modelItem => moratoryIntstCC.ChargeConceptName)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => moratoryIntstCC.BeginDate)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => moratoryIntstCC.EndDate)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => moratoryIntstCC.ExpirationDays)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => moratoryIntstCC.MoratoryInterestRate)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => ((MoratoryInterestCC_onProperty)moratoryIntstCC).InterestValue)
             </td>
            <td>
                <a asp-action="Details" asp-route-pDocValue="@owner.DocValue" asp-route-pDocType="@owner.DocType">
                    <input type="submit" value="Ver" class="btn btn-warning"/>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h3>Conceptos de Cobro por Consumo</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => consumptionCCs[0].ChargeConceptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => consumptionCCs[0].BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => consumptionCCs[0].EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => consumptionCCs[0].ExpirationDays)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => consumptionCCs[0].MoratoryInterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => ((ConsumptionCC_onPropertyModel)consumptionCCs[0]).ConsumptionM3)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var consumptionCC in consumptionCCs)
    {
        <tr>
            <th>
                @Html.DisplayFor(model => consumptionCC.ChargeConceptName)
            </th>
            <th>
                @Html.DisplayFor(model => consumptionCC.BeginDate)
            </th>
            <th>
                @Html.DisplayFor(model => consumptionCC.EndDate)
            </th>
            <th>
                @Html.DisplayFor(model => consumptionCC.ExpirationDays)
            </th>
            
            <th>
                @Html.DisplayFor(model => consumptionCC.MoratoryInterestRate)
            </th>
            <th>
                @Html.DisplayFor(model => ((ConsumptionCC_onPropertyModel)consumptionCC).ConsumptionM3)
            </th>
            <td>
                <a asp-action="Details" asp-route-pDocValue="@owner.DocValue" asp-route-pDocType="@owner.DocType">
                    <input type="submit" value="Ver" class="btn btn-warning"/>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
*@