@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUserInterface.cshtml";
    List<ReceiptModel> selection = ViewData["Selection"] as List<ReceiptModel>;
    int? propertyNumber = ViewData["PropertyNumber"] as int?;
    int cancelButtonRequestType;
    if(ILoggedUser.LoggedUser.isAdmin){
        cancelButtonRequestType = IConstants.RETURN_TO_INDEX_REQUESTTYPE;
        ViewData["PayButtonTitle"] = "Crear arreglo de pago";
    }
    else
    {
        cancelButtonRequestType = IConstants.RETURN_TO_USER_INDEX_REQUESTTYPE;
        ViewData["PayButtonTitle"] = "Pagar";
    }
    
}
<head>
    <style>
        #total {text-align: right;}
    </style>
</head>

<h1> Información del Pago </h1>

<hr />
<table class="table table-striped">
    <h5>Recibos a pagar.</h5>
    <p> Intereses moratorios incluidos.</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => selection[0].ReceiptNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => selection[0].ChargeConceptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => selection[0].ReceiptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => selection[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => selection[0].Amount)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach(var selectedReceipt in selection)
        {
            <tr>
                <th>
                    @Html.DisplayFor(model => selectedReceipt.ReceiptNumber)
                </th>
                <th>
                    @Html.DisplayFor(model => selectedReceipt.ChargeConceptName)
                </th>
                <th>
                    @Html.DisplayFor(model => selectedReceipt.ReceiptDate)
                </th>
                <th>
                    @Html.DisplayFor(model => selectedReceipt.DueDate)
                </th>
                <th>
                    @Html.DisplayFor(model => selectedReceipt.Amount)
                </th>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <th id="total" right colspan="4">Total: </th>
                <th>Total</th>
            </tr>
        </tfoot>
    </table>
    <hr />
</table>
<div>
    @Html.ActionLink(
    ViewData["PayButtonTitle"] as String,
    "PaySelectedReceipts",
    "Property",
    new {pPropertyNumber = propertyNumber,pRequestType = cancelButtonRequestType},
    new {@class = "btn btn-success"})
</div>  
<div>
    @Html.ActionLink(
    "Cancelar",
    "Details",
    "Property",
    new {pPropertyNumber = propertyNumber, pRequestType = cancelButtonRequestType}, 
    new {@class = "btn btn-danger"})
</div>