@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUserInterface.cshtml";
    List<ReceiptModel> selection = ViewData["Selection"] as List<ReceiptModel>;
    int? propertyNumber = ViewData["PropertyNumber"] as int?;
    double? totalAmount = ViewData["TotalAmount"] as double?;
    int cancelButtonRequestType;
    if(ILoggedUser.LoggedUser.isAdmin){
        cancelButtonRequestType = IConstants.RETURN_TO_INDEX_REQUESTTYPE;
        ViewData["PayButtonTitle"] = "Crear arreglo de pago";
    }
    else
    {
        cancelButtonRequestType = IConstants.RETURN_TO_USER_INDEX_REQUESTTYPE;
        ViewData["PayButtonTitle"] = "Pagar";
    }
    
}
<head>
    <style>
        #total {text-align: right;}
    </style>
</head>

<h1> Información del Pago </h1>

<hr />
<table class="table table-striped">
    <h5>Recibos a pagar.</h5>
    <p> Intereses moratorios incluidos.</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => selection[0].ReceiptNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => selection[0].ChargeConceptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => selection[0].ReceiptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => selection[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => selection[0].Amount)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach(var selectedReceipt in selection)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => selectedReceipt.ReceiptNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => selectedReceipt.ChargeConceptName)
                </td>
                <td>
                    @Html.DisplayFor(model => selectedReceipt.ReceiptDate)
                </td>
                <td>
                    @Html.DisplayFor(model => selectedReceipt.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(model => selectedReceipt.Amount)
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <th id="total" right colspan="4">Total: </th>
                <td id = "totalValue">@totalAmount</td>
            </tr>
        </tfoot>
    </table>
    <hr />
</table>
@if (ILoggedUser.LoggedUser.isAdmin)
{
   <table class="table table-striped">
    <tr>
        <th>
            Plazo en meses:
        </th>
        <th>
            Monto a pagar por cuota:
        </th>
    </tr>
    <tr>
        <td>
            <input type="number" id="PaymentTerms" placeholder = "Number of months" value = "1" name="Plazo" min="1">
        </td>
        <td id = "FeeAmount">
            Monto a pagar por cuota:
        </td>
    </tr>
    </table> 
}

<hr />
<div>
    @Html.ActionLink(
    ViewData["PayButtonTitle"] as String,
    "PaySelectedReceipts",
    "Property",
    new {pPropertyNumber = propertyNumber,pRequestType = cancelButtonRequestType},
    new {@class = "btn btn-success"})
</div>  
<div>
    @Html.ActionLink(
    "Cancelar",
    "Details",
    "Property",
    new {pPropertyNumber = propertyNumber, pRequestType = cancelButtonRequestType}, 
    new {@class = "btn btn-danger"})
</div>
<script>
document.getElementById("PaymentTerms").addEventListener('input',(event) => FeeValueChange())
function FeeValueChange(params) {
    var total = document.getElementById("totalValue").innerHTML;
    var terms = document.getElementById("PaymentTerms").value;
    //document.getElementById("FeeAmount").innerHTML = terms;  
    getValueChange(terms,total).done(function(value) {
        alert(value); //waits until ajax is completed
    });
}
function getValueChange(terms,total){
    $.ajax({
        url: 'GetFeeAmount',
        data: { pTotal: total, pTerms: terms},
        success: function(data) {
            $('#FeeAmount').html(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert(jqXHR.status);
            alert(textStatus);
            alert(errorThrown);
        }
    });
}

</script>