
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    List<ConsumptionCcModel> consumptionCCs = ViewData["ConsumptionCCs"] as List<ConsumptionCcModel>;
    List<PercentageCcModel> percentageCCs = ViewData["PercentageCCs"] as List<PercentageCcModel>;
    List<MoratoryInterestCcModel> moratoryIntsCCs = ViewData["MoratoryIntsCCs"] as List<MoratoryInterestCcModel>;
    List<FixedCcModel> fixedCCs = ViewData["FixedCCs"] as List<FixedCcModel>;
}

<h1> Conceptos de Cobro </h1>
<hr />
<h3> Fijos </h3>
<hr />
<p>
    
    <a asp-action="CreateFixed">
        <input type="submit" value="Insertar Usuario" class="btn btn-success"/>
    </a>
    
</p>


<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => fixedCCs[0].ChargeConceptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => fixedCCs[0].ExpirationDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => fixedCCs[0].ReciptEmisionDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => fixedCCs[0].MoratoryInterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => fixedCCs[0].Amount)
        </th>
        
    </tr>
    </thead>
    <tbody>
          @foreach(var fixedCC in fixedCCs)
          {
              <tr>
                  <td>
                      @Html.DisplayFor(modelItem => fixedCC.ChargeConceptName)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => fixedCC.ExpirationDays)
                  </td>
                  <th>
                      @Html.DisplayFor(model => fixedCC.ReciptEmisionDay)
                  </th>                  
                  <td>
                      @Html.DisplayFor(modelItem => fixedCC.MoratoryInterestRate)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => fixedCC.Amount)
                  </td>
                 <td>
                     <a asp-action="Delete" asp-route->
                        <input type="submit" value="Borrar" class="btn btn-danger"/>
                     </a>
                 </td>
                 <td>
                     <a asp-action="EditFixed" asp-route->
                        <input type="submit" value="Ver" class="btn btn-warning"/>
                     </a>
                 </td>
                 <td>
                    <a asp-action="DetailsFixed" asp-route->
                       <input type="submit" value="Ver" class="btn btn-warning"/>
                    </a>
                 </td>                  
              </tr>
          }
    </tbody>
</table>


<hr />
<h3> Por Consumo </h3>
<hr />
<p>
    
    <a asp-action="CreateConsumption">
        <input type="submit" value="Insertar Usuario" class="btn btn-success"/>
    </a>
    
</p>


<table class="table table-striped">
    <thead>
    <tr>
          <th>
               @Html.DisplayNameFor(model => percentageCCs[0].ChargeConceptName)
           </th>
        <th>
               @Html.DisplayNameFor(model => percentageCCs[0].ExpirationDays)
           </th>
           <th>
               @Html.DisplayNameFor(model => percentageCCs[0].ReciptEmisionDay)
           </th>            
           <th>
               @Html.DisplayNameFor(model => percentageCCs[0].MoratoryInterestRate)
           </th>
           <th>
               @Html.DisplayNameFor(model => percentageCCs[0].PercentageValue)
           </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var percentageCC in percentageCCs)
         {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => percentageCC.ChargeConceptName)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => percentageCC.ExpirationDays)
                 </td>
                 <th>
                     @Html.DisplayFor(model => percentageCC.ReciptEmisionDay)
                 </th>                     
                 <td>
                     @Html.DisplayFor(modelItem => percentageCC.MoratoryInterestRate)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => percentageCC.PercentageValue)
                 </td>
                 <td>
                     <a asp-action="Delete" asp-route->
                        <input type="submit" value="Borrar" class="btn btn-danger"/>
                     </a>
                 </td>
                 <td>
                     <a asp-action="EditConsumption" asp-route->
                        <input type="submit" value="Ver" class="btn btn-warning"/>
                     </a>
                 </td>
                 <td>
                    <a asp-action="DetailsConsumption" asp-route->
                       <input type="submit" value="Ver" class="btn btn-warning"/>
                    </a>
                 </td>
             </tr>
         }
    </tbody>
</table>
<hr />

<h3> Fijos </h3>
<hr />
<p>
    
    <a asp-action="CreatePercentage">
        <input type="submit" value="Insertar Usuario" class="btn btn-success"/>
    </a>
    
</p>


<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Tipo Usuario
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <td>
                @if (user.isAdmin)
                {
                    <p> Administrador</p>
                }
                else
                {
                    <p> Propietario </p>
                }
                
            </td>
            <td>
                <a asp-action="Delete" asp-route-pUsername="@user.Name">
                    <input type="submit" value="Borrar" class="btn btn-danger"/>
                </a>
            </td>
            <td>
                <a asp-action="EditPercentage" asp-route->
                    <input type="submit" value="Ver" class="btn btn-warning"/>
                </a>
            </td>
            <td>
                <a asp-action="DetailsPercentage" asp-route->
                    <input type="submit" value="Ver" class="btn btn-warning"/>
                </a>
            </td>  
            
        </tr>
    }
    </tbody>
</table>
<hr />


<h3> De Intereses Moratorios </h3>
<hr />
<p>
    
    <a asp-action="CreateMoratoryInterest">
        <input type="submit" value="Insertar Usuario" class="btn btn-success"/>
    </a>
    
</p>


<table class="table table-striped">
    <thead>
    <tr>
       <th>
           @Html.DisplayNameFor(model => moratoryIntsCCs[0].ChargeConceptName)
       </th>
        <th>
           @Html.DisplayNameFor(model => moratoryIntsCCs[0].ExpirationDays)
       </th>
       <th>
           @Html.DisplayNameFor(model => moratoryIntsCCs[0].ReciptEmisionDay)
       </th>            
       <th>
           @Html.DisplayNameFor(model => moratoryIntsCCs[0].MoratoryInterestRate)
       </th>
       <th>
           @Html.DisplayNameFor(model => ((MoratoryInterestCcModel)moratoryIntsCCs[0]).InterestValue)
       </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var moratoryIntstCC in moratoryIntsCCs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => moratoryIntstCC.ChargeConceptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => moratoryIntstCC.ExpirationDays)
            </td>
            <th>
                @Html.DisplayFor(model => moratoryIntstCC.ReciptEmisionDay)
            </th>                  
            <td>
                @Html.DisplayFor(modelItem => moratoryIntstCC.MoratoryInterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => moratoryIntstCC.InterestValue)
            </td>
            <td>
                <a asp-action="Delete" asp-route->
                    <input type="submit" value="Borrar" class="btn btn-danger"/>
                </a>
            </td>
            <td>
                <a asp-action="EditMoratoryInterest" asp-route->
                    <input type="submit" value="Ver" class="btn btn-warning"/>
                </a>
            </td>
            <td>
                <a asp-action="DetailsMoratoryInterest" asp-route->
                    <input type="submit" value="Ver" class="btn btn-warning"/>
                </a>
            </td>  

        </tr>
    }
    </tbody>
</table>
<hr />
